<li>
	{{burger_name}}

	<button class="change-eat btn-primary" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if eat}}Someone already ate this burger!{{else}}Eat this burger!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
